:root {
  --themecolor: #c1e280;
  --secondColor: #12a512;
  --thirdColor: #a9d171;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(48 143 47);
}

.nav-item a:active {
  background-color: var(--secondColor);
}
.nav-item a:focus {
  background-color: var(--secondColor);
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  border: 0px;
}

#mobile {
  display: none;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-lg {
  justify-content: space-between;
}

#bigScreen {
  padding-left: 11rem;
}

.formContainer {
  padding: 20px;
  margin: auto;
  display: flex;
}

.mainForm {
  max-width: 1065px;
  margin: auto;
  border: 2px solid var(--themecolor);
  padding: 30px;
}
.mainForm form {
  display: flex;
  flex-direction: column;
}

.formRow {
  margin: 30px;
  display: flex;
}

.formRow input {
  width: 300px;
  height: 50px;
  margin: 30px 30px;
  border: none;
  outline: none;
  padding-left: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.651);
}
.mainForm input:focus {
  background-color: var(--themecolor);
}

.mainForm form button {
  margin: 10px;
  height: 50px;
  text-transform: uppercase;
  width: 70%;
  margin: auto;
  border: none;
  background-color: var(--themecolor);
}

.footer {
  padding: 20px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}

.privacy {
  border: none;
  font-size: 17px;
}

.footer span {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  #mobile {
    display: block;
  }
  #bigScreen {
    display: none;
  }
  #notForMobile {
    display: none;
  }
  .navbar > form {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .formRow {
    flex-direction: column;
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
  .mainForm {
    padding: 20px 10px;
    padding-bottom: 40px;
  }
  .formRow input {
    width: 200px;
    margin: 20px;
  }
}
