* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

:root {
  --themecolor: #c1e280;
  --secondColor: #12a512;
  --thirdColor: #a9d171;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--thirdColor);
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.video_container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video_container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  /* used for responsiveness so that as we reduce the screen size the video is still centered */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video_content {
  z-index: 10;
}

.cards_container {
  position: relative;
  margin: auto;
  width: 90%;
  height: 410px;
  overflow: hidden;
  padding: 70px 0px;
  cursor: grab;
  background-color: var(--thirdColor);
}

.cards {
  position: absolute;
  left: 0px;
  top: 0xp;
  display: grid;
  grid-template-columns: repeat(6, 350px);
  grid-gap: 50px;
  pointer-events: none;
}

.cards img {
  width: 100%;
  height: 210px;
}

.cardItem {
  overflow: hidden;
  text-align: center;
}

.cardItem h3 {
  padding-top: 10px;
}
